<%= form_for(@submission) do |f| %>
  <%= render "shared/error_messages", :target => @submission %>
  <ol>
    <fieldset>
      <legend>Title</legend>
      <li><%= f.label :title %> <%= f.text_field :title %></li>
    </fieldset>
    
    <fieldset>
      <legend>Authors</legend>
      <li><%= f.label :authors %><%= f.text_field :authors %></li>
    </fieldset>
    
    <fieldset>
      <legend>Body</legend>
      <li><%= f.label :body %><%= f.text_area :body %></li>
    </fieldset>
    
    <li><%= f.submit %></li>
  </ol>

  
  
<% end %>