<h2>Sign in</h2>

<%= form_for('user', :url => user_session_path, :html => {:id => "signin_form"}) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= link_to 'Sign Up', new_user_registration_path %>