<!DOCTYPE html>
<html>
<head>
  <title>Abstractalicious</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <hgroup>
      <h1>Abstractalicious</h1>
    </hgroup>
    <nav>
      <ul>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </nav>
  </header>

  <%= yield %>
  
  <footer>
    this is the footer.
  </footer>

</body>
</html>
